<h1>{{title}}</h1>
<button type="button" (click)="login()" class="btn btn-primary">Login</button>
<input type="text" [(ngModel)]="data">
<button type="button" (click)="addSticky()" class="btn btn-primary">New</button>

<div>
  <div class="container">
  
    <div class="card" *ngFor="let item of jobs |async" >
      <a class="btn-danger btn btn-link remove glyphicon glyphicon-remove" (click)="delete(item)"></a>
      <h3>{{item.job_no}} </h3> 
       <p>{{item.customer}} </p>
      <p>{{item.name}}<br/>
        <small>{{ item.ship_date }}</small>
       </p>
    </div>
  </div>
</div>



<!-- 
<h2>JOBS ({{jobs.length}})</h2>
<bs-sortable
  [(ngModel)]="jobs"
  [itemTemplate]="itemTemplate"
  itemClass="sortable-item"
  itemActiveClass="sortable-item-active"
  placeholderItem="Drag here"
  placeholderClass="placeholderStyle card"
  wrapperClass="sortable-wrapper container"
></bs-sortable> -->



<!-- <h2>Prepress ({{prepress.length}}) </h2>
<bs-sortable
  [(ngModel)]="prepress"
  [itemTemplate]="itemTemplate"
  itemClass="sortable-item"
  itemActiveClass="sortable-item-active"
  placeholderItem="Drag Job here"
  placeholderClass="sortable-item card "
  wrapperClass="sortable-wrapper container"
></bs-sortable> -->

<!-- <h2>RYOBI ({{ryobi.length}})</h2>
<bs-sortable
  [(ngModel)]="ryobi"
  [itemTemplate]="itemTemplate"
  itemClass="sortable-item"
  itemActiveClass="sortable-item-active"
  placeholderItem="Drag Job here"
  placeholderClass="sortable-item card "
  wrapperClass="sortable-wrapper container"
></bs-sortable> -->





